.main-title {
    font-family: 'Ribeye Marrow';
}

.font{
    font-family: sans-serif;
    font-size: 16px;
}
.inputP{
    width: 400px;
}
.navbar{
 background: white;
 font-weight: bold;
}
.nav-link , .navbar-brand{
  color: #0808b5;
  cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover, .navbar-brand:hover{
 background: #0808b5;
 color: #f4f4f4;
 
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#29911b !important;
}
.navbar-collapse{
  justify-content: flex-end;
}
/* Nav Styles End */

/* Home Page Styles begin */
#main-form {
  padding: 60px;
  position: relative;
  height: 100%;

  background-image: url("../images/bike2.jpg");
  background-size: cover;
}
#main-form h1{
  color: white;
  margin: 2em;
}
#main-form img{
  height: 100%;
  width: 100%;
}
.AnimateSubmit{
    background-color: blue;
    color: white;
    border-color : white;
    border-width : 4px;
}

.bgcolor{
    background-color: rgba(53, 104, 133, 0.466)
}
.bg2 {
  background-color: rgb(155, 192, 189);
}
.color{
   color: white;
}

.form .desc h3{
  color: white;
}
.form .desc p{
  line-height:2;
  color:#888;
}
.form .btn-secondary{
  background:  #29911b;
  color: #fff;
  border:0;
}

/* Contact form  styles*/
.contact-form{
    margin: 6em 0;
    position: relative;  
    padding: 80px;
    background-image: url("../images/image1.png");
    background-size: cover;
 }
.contact-form h1{
  padding:2em 1px;
  color: #0808b5;
}
.contact-form .right{
  max-width: 600px;
}
.contact-form .right .btn-secondary{
  background:  #29911b;
  color: #fff;
  border:0;
}
.contact-form .right .form-control::placeholder{
  color: #888;
  font-size: 16px;
}


#bikemap {
  width: 485px;
  height: 485px;
}

#column1 {
  padding-top: 10px;
  border-color: #007bff;
  background-color: #007bff;
  color: #fff;
}


#time2, #description2, #temp2, #windSpeed2, #windDirection2, {
    text-align:center;
}

.map-info-bubble {

}

.map-info-content {
 
}

.info-place-name {
 font-size: 1rem;
 margin-bottom: 2rem;
 padding-bottom: 0rem


}

.info-place-address {


}

.info-place-icon {
  

}
